torch
torchvision
torchaudio

torch-geometric

timm

hydra-core
omegaconf

faiss-gpu

torchmetrics

wandb

tensorboard

numpy
scipy

opencv-python

matplotlib

pandas

rich

tqdm

pytest

scikit-learn